<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 17+ (targetSdk 37) gates Cast's local-network (mDNS) device discovery behind
         this runtime permission - without it, no Cast devices are ever found. -->
    <uses-permission android:name="android.permission.ACCESS_LOCAL_NETWORK" />

    <application tools:ignore="MissingApplicationIcon">
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="gizz.tapes.playback.CastOptionsProvider"
            />
    </application>
</manifest>
